 <!-- Navigation -->
 <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <img [src]="imageUrl+'logo' | secure | async" alt="logo" style="padding: 0%;" class="img-thumbnail float-left navbar-brand">
      <a class="navbar-brand" href="#">{{userDetail.UserType}}</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
      <!-- /.dropdown -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
              <li>
                  <a href="#">
                      <div>
                          <i class="fa fa-comment fa-fw"></i> New Comment
                          <span class="pull-right text-muted small">4 minutes ago</span>
                      </div>
                  </a>
              </li>
              <li class="divider"></li>
              <li>
                  <a href="#">
                      <div>
                          <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                          <span class="pull-right text-muted small">12 minutes ago</span>
                      </div>
                  </a>
              </li>
              <li class="divider"></li>
              <li>
                  <a href="#">
                      <div>
                          <i class="fa fa-envelope fa-fw"></i> Message Sent
                          <span class="pull-right text-muted small">4 minutes ago</span>
                      </div>
                  </a>
              </li>
              <li class="divider"></li>
              <li>
                  <a href="#">
                      <div>
                          <i class="fa fa-tasks fa-fw"></i> New Task
                          <span class="pull-right text-muted small">4 minutes ago</span>
                      </div>
                  </a>
              </li>
              <li class="divider"></li>
              <li>
                  <a href="#">
                      <div>
                          <i class="fa fa-upload fa-fw"></i> Server Rebooted
                          <span class="pull-right text-muted small">4 minutes ago</span>
                      </div>
                  </a>
              </li>
              <li class="divider"></li>
              <li>
                  <a class="text-center" href="#">
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                  </a>
              </li>
          </ul>
          <!-- /.dropdown-alerts -->
      </li>
      <!-- /.dropdown -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a [routerLink]="['profile']"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li class="divider"></li>
              <li><a [routerLink]="['/']" (click)="onLoggedout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
          </ul>
          <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                  <div class="input-group custom-search-form">
                      
                  </div>
                  <!-- /input-group -->
              </li>
              <li>
                  <a [routerLink]="['/staff']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
              </li>
              <li *ngIf="userDetail.UserType.toLowerCase() == 'exam section'">
                <a [routerLink]="['/staff/examtrigger']"><i class="fa fa-dashboard fa-fw"></i> Examform Trigger</a>
              </li>
              <li *ngIf="userDetail.UserType.toLowerCase() == 'accountant'">
                <a [routerLink]="['/staff/form-acceptance']"><i class="fa fa-dashboard fa-fw"></i> Form Acceptance</a>
              </li>
              <li *ngIf="userDetail.UserType.toLowerCase() == 'exam section'">
                <a [routerLink]="['/staff/hallticket-mng']"><i class="fa fa-dashboard fa-fw"></i> Hall Ticket</a>
              </li>
              <li *ngIf="userDetail.UserType.toLowerCase() == 'exam section'">
                 <a [routerLink]="['/staff/push-result']"><i class="fa fa-dashboard fa-fw"></i> Push Result</a>
              </li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>